<?php

namespace App\EasyAdmin;

class AppModelList
{
    /**
     * Return array of models and namespaces
     *
     * @return Array
     */
    public static function models()
    {
        return [
            //Models Here - Format: Namespace.Model
        ];
    }
}






























?>
//EOF
