@extends('easy-admin::layouts.custom')

@section('title', 'TODO: Page Title Here')

{{-- NOTE: use `message` variable to flash messages to user --}}

@section('content')
    TODO: Your Content here
@endsection

@push('styles')
    {{-- Optional: Custom styles can go here --}}
@endpush

@push('scripts')
    {{-- Optional: Custom scripts can go here --}}
@endpush

@push('modals')
    {{-- Optional: Custom modals can go here --}}
@endpush
