<?php

namespace Database\Seeders;

use Illuminate\Database\Seeder;

class {{seed_model_name}} extends Seeder
{
    /**
     * Run the database seeds.
     *
     * @return void
     */
    public function run()
    {
        {{create_fields}}
    }
}
